html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
}




/* font family */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500&display=swap');


/* tailwind integration */
@tailwind base;
@tailwind components;
@tailwind utilities;




// Random class name 

@layer components {
  .inputclass {
    @apply w-full max-w-xs rounded-lg px-2 py-1 focus:outline-none border-[1px] border-none
  }
  .menu-link{
    @apply cursor-pointer text-lg px-3 py-3 font-medium mx-5 text-black 
  }
  .link-hover{
    @apply hover:bg-[color:var(--primary1-color)] hover:px-3 hover:py-3 rounded-[5px] hover:text-white
  }
  .navbar{
    @apply flex justify-between items-center py-5 px-20 bg-blue-100
  }

  .authform{
    @apply grid grid-cols-1 sm:grid-cols-6 h-screen
  }
  .leftdiv{
    @apply left-div md:col-span-2 hidden md:block
  }
  .leftdivinner{
    @apply flex flex-col items-start justify-between h-full
  }
  .rightdiv{
    @apply right-div bg-yellow-200 col-span-4
  }
  .formclass{
    @apply flex flex-col px-5 py-5 justify-center items-center h-screen
  }
  .formbutton{
    @apply inputclass headline6 bg-[color:var(--form-button-color)] text-white cursor-pointer my-5 border-none
  }
  .formbottomlink{
    @apply text-blue-600 my-5 text-[color:var(--form-button-color)] cursor-pointer
  }


 
  
}

:root{
  --form-button-color:#D16F32;
  --primary1-button-color:#D16F32;
  --primary2-button-color:#3294D1;
  --primary1-color:#D16F32;
  --primary2-color:#3294D1;
  --primary3-color:#A8C6DF;
  --Black-one:#202020;
  --Black-two:#19263F;
  --Black-three:#47464A;
  --Grey:#84818A;
  --Teal:#FD5C5C;
  --White:#FFFFFF;
  --header-color:rgba(255, 255, 255, 0.87);
  --input-class : input input-bordered w-full max-w-xs rounded-lg px-2 py-1 border-[1px];
  
}

/* component custom style */
.banner{
  background-image: linear-gradient(180deg, rgba(25, 38, 63, 0.87) -43.82%, #3294D1 100%), url("/assets/Rectangle.png");
  opacity: 0.97;
  background-size: cover;
}


.left-div{
  background-size: cover;
  background-image:linear-gradient(177.27deg, #FFFFFF -11.42%, rgba(255, 255, 255, 0.92) 16.59%, rgba(50, 148, 209, 0.93) 54.34%, #19263F 96.34%), url("/assets/bg.png");
  /* background: linear-gradient(177.27deg, #FFFFFF -11.42%, rgba(255, 255, 255, 0.92) 16.59%, rgba(50, 148, 209, 0.93) 54.34%, #19263F 96.34%),url("/assets/bg.png") ; */
}

.right-div{
  background: linear-gradient(180deg, #5ea6d27e 0%, rgba(75, 118, 145, 0) 66.36%);
  opacity: 0.9;
}


.card{
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


.footer{
  background: linear-gradient(180deg, rgba(50, 148, 209, 0) 0%, rgba(50, 148, 209, 0.31) 100%);;
}

.header6 {
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  line-height: 143.69%;
}

.headlinesemibold{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 139.8%;

}

.headline9{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px
}

.headline8{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.headline7{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

}
.headline6{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 169%;
}

.headline5{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

.headline4{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.headline3{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 147%;
}

.headline2{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 143.69%;
}

.headline1{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 143.69%;
}


